{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course See</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/" class="header__logo">Course See</a>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list__item">
                    <a href="{% url 'about' %}" class="header-nav-list__link">О нас</a>
                </li>
                <li class="header-nav-list__item">
                    <a href="{% url 'contacts' %}" class="header-nav-list__link">Контакты</a>
                </li>
            </ul>
        </nav>

        <div class="header-user">
            <a href="#" class="header-user__item btn">Войти</a>
            <a href="#" class="header-user__item btn btn--primary">Регистрация</a>
        </div>
    </header>
    <main class="main">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>